<?php

$DB_HOSTNAME = getenv('DB_HOSTNAME', "localhost");
$DB_USERNAME = getenv('DB_USERNAME', "USERNAME");
$DB_PASSWORD = getenv('DB_PASSWORD', "PASSWORD");
$DB_NAME = getenv('DB_NAME', "questionnaire-lgbti");
