 .u-section-1 {
  min-height: 514px;
}

.u-section-1 .u-group-1 {
  min-height: 512px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-1 .u-form-1 {
  height: 217px;
  width: 624px;
  margin: 108px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  padding: 13px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 320px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 873px;
}

.u-section-2 .u-group-1 {
  min-height: 776px;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 8px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 27px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 452px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-2 {
  min-height: 141px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --radius: 50px;
  font-weight: 700;
  text-transform: none;
  margin: 69px auto 0;
  padding: 17px 50px 17px 49px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-3 {
  min-height: 141px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --radius: 50px;
  font-weight: 700;
  text-transform: none;
  margin: 69px auto 0;
  padding: 17px 50px 17px 49px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-4 {
  min-height: 141px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-text-5 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --radius: 50px;
  font-weight: 700;
  text-transform: none;
  margin: 69px auto 0;
  padding: 17px 50px 17px 49px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 20px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-5 {
  min-height: 141px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --radius: 50px;
  font-weight: 700;
  text-transform: none;
  margin: 69px auto 0;
  padding: 17px 50px 17px 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 368px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1191px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}